cookie-consent {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: lightgray;
  opacity: 0.9;
  padding: 0.8rem;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

cookie-consent[variant="showAllways"] {
  position: relative;
  background-color: inherit;
}

cookie-consent > div.about {
  order: 1;
  font-size: 80%;
  padding: 0 0.8rem;
}

cookie-consent > div.buttons {
  order: 2;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 1.2rem;
}

cookie-consent > div.buttons :first-child {
  margin-right: 0.4rem;
}

cookie-consent > div > button {
  padding: .4rem 1.6rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

@media screen and (max-width: 778px) {
  cookie-consent {
    flex-direction: column;
    padding: 0.4rem;
  }
  cookie-consent > div.buttons {
    order: 1;
    align-items: center;
    justify-content: center;
  }
  cookie-consent > div.about {
    order: 2;
    padding: 0.4rem 0.8rem;
  }
  cookie-consent > div > button {
    margin: 0.4rem;
  }
}

.show-cookie-consent-banner {
  animation: 1s ease-in fadein;
  opacity: 0.9;
  display: flex;
}

.hide-cookie-consent-banner {
  display: none;
  size: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
